
*{
    
    background-repeat: no-repeat;
    background-color:rgb(255, 255, 255);
    
}
.span-a{
    color: rgb(228, 99, 35);
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    padding-left: 8%;
    margin-top: 20%;
    
    
    
}
#span-a{
    color: rgb(228, 99, 35);
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding-left: 8%; 
}
.Heading-a{
    font-family: 'Kanit', sans-serif;
    padding-left: 8%;
    margin-top: 1%;
    padding-bottom: 50%;
    font-size:45px;
    height: 50px;
}
#expert{
    color: orange;
}
#developer{
    color:tomato;
}
.img-main{
    padding-left:50%;
    margin-top:-70%;
}
.btn-a{
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 88);
    text-decoration: none;
    border: none;
    
    height: 40px;
    width: 168px;
    cursor: pointer;
    border-radius: 19px;
    margin-top: 5%;
    
}
.logo{
    padding-left: 1%;
    margin-top: -2%;
    
}
.logo-h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 49px;
    padding-left: 25%;
    margin-top: -10%;
}
#logo-span{
    color: rgb(251, 173, 6);
}






